#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin-top: 60px;
  text-align: center;
}
label{
  display: inherit;
}
.cdiv{
  border: 1px solid black;
  display: inline-block;
  margin:1px;
  width: 38%;
  height: 38%;
  box-sizing: border-box;
  padding: 15%;
}
p{
  width: auto;
  text-align: end;
}
@media screen and (min-width: 768px) {
  .cdiv{
    width: 1%;
    height: 38%;
    padding: 7%;
  }
}
@media screen and (min-width: 1024px) {
  .cdiv{
    width: 1%;
    height: 38%;
    padding: 3.75%;
  }
}
